.workspace {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .titleText {
            font-weight: bold;
        }

        .addBtn {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background-color: #e3e3e3;
            }
        }
    }
}

.treeWp {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 50px);

    .tree {
        font-size: 13px;
        margin-left: -6px;

    }

    .treeIcon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

