.tabs-container {
    height: 100vh;
    min-height: 150px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
}

.tabs-container .bp5-tab-panel {
    flex: 1;
}

.allotment-container {
    min-height: 150px;
}

.no-tabs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    height: 100vh;
    width: 100%;
    font-size:20px;
    color: #666;
}

.tabs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-panels-container {
    flex: 1;
}

.tab-panel {
    height: 100%;
}