einops>=0.8.0
transformers>=4.47.1
tokenizers>=0.21.0
safetensors>=0.4.5
aiohttp>=3.11.11
pyyaml>=6.0.2
pillow>=11.0.0
virtualenv>=20.28.0
fastapi[standard]>=0.115.6
websockets>=14.1
RestrictedPython>=8.0

# 基础 Torch 包（非 Windows 版本）
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

diffusers[torch]>=0.31.0
torchsde==0.2.6
accelerate>=1.2.1
pydantic-settings>=2.7.0
pydantic>=2.10.4
spandrel>=0.4.1
gguf>=0.14.0
controlnet-aux>=0.0.9
clip-anytorch>=2.6.0
compel>=2.0.3
deprecated>=1.2.18
blake3>=1.0.4
onnxruntime>=1.21.0
onnx>=1.17.0
picklescan>=0.0.24
matplotlib>=3.10.1
mediapipe>=0.10.21

easydict>=1.13
rembg>=2.0.65
plyfile>=1.1
moderngl>=5.12.0
scipy>=1.15.2
trimesh>=4.6.5
# xatlas>=0.0.9
pyvista>=0.44.2
pymeshfix>=0.17.0
igraph>=0.11.8
kornia>=0.8.0 