name: Quick Test

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

env:
  SSUI_CI_SKIP_INSTALL: 1

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: windows
          - os: macOS-latest
            platform: macosx
          - os: ubuntu-latest
            platform: linux

    steps:
      - uses: actions/checkout@v4
         
      - name: Set Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile 

      - name: Setup Python
        id: setup-uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6.11"
          enable-cache: false
          python-version: 3.12.8
          activate-environment: true

      - name: Install packaging
        run: uv pip install packaging==24.1

      - name: Install requirements
        run: uv pip install -r dependencies/${{ matrix.platform }}.lock

      - name: Install system dependencies
        if: ${{ matrix.platform == 'linux' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libglib2.0-dev pkg-config

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""
      
      - name: Build Components
        run: yarn build:components

      - name: Build Functional UI
        run: yarn build:functional_ui

      - name: Build Desktop
        run: yarn build:desktop

      - name: Run Tests
        run: yarn test
