name: Quick Test

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

env:
  SSUI_CI_SKIP_INSTALL: 1

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v4
          
      - name: Set Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile 

      - name: Setup Python
        id: setup-uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6.11"
          enable-cache: false
          python-version: 3.12.8
          activate-environment: true

      - name: Install requirements
        run: yarn requirements && uv pip install -r .venv/requirements.txt

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""
      
      - name: Build Components
        run: yarn build:components

      - name: Build Functional UI
        run: yarn build:functional_ui

      - name: Build Desktop
        run: yarn build:desktop

      - name: Run Tests
        run: yarn test
