
name: Release

on:
  push:
    branches: [ "main" ]
    tags:
      - "*.*.*"

env:
  SSUI_CI_SKIP_INSTALL: 1

jobs:
  release:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: windows
            artifacts: |
              desktop/src-tauri/target/release/bundle/msi/*.msi
              desktop/src-tauri/target/release/bundle/nsis/*.exe

          - os: macOS-latest
            platform: macosx
            artifacts: |
              desktop/src-tauri/target/release/bundle/dmg/*.dmg

    steps:
      - uses: actions/checkout@v4

      - name: Set Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile 

      - name: Setup Python
        id: setup-uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6.11"
          enable-cache: false
          python-version: 3.12.8
          activate-environment: true

      - name: Install requirements
        run: uv pip install -r dependencies/requirements-${{ matrix.platform }}.txt

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: Build ssext tools
        run: yarn build:extension_builder && cd extension_builder && npm link

      - name: Pack desktop
        run: yarn package

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: ${{ matrix.artifacts }}